body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: silver;
}

/* app styles */
.App {
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
}
nav{
  padding: 5px;
  border-radius: 20px;
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
.todo-list {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.todo-list ul{
  padding: 0;
  list-style-type: none;
}
.todo-list li {
  font-size: larger;
  font-weight: bold;
  padding: 10px;
  list-style-type: none;
  margin: 10px auto;
  border-radius: 10px;
}
.itemContent {
  font-weight: normal;
  font-size: 0.8em;
}
.todo-list li:hover {
  opacity: 0.6;
  text-decoration: line-through;
}
form{
  padding: 20px;
  border-radius: 20px;
}
input[type='text']{
  font-size: medium;
  width: 100% ;
  margin: 10px 0px;
  padding: 10px;
  box-sizing: border-box;
}
input[type='submit']{
  margin: 10px auto;
  padding: 10px;
  background-color: darkseagreen;
}